@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Pixelify+Sans:wght@400..700&display=swap');

.font {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #C89858;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------- */

.game-board {
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;

    background: linear-gradient(rgb(99, 99, 236), rgb(170, 203, 247));
}

.pipe1, .pipe2, .pipe3 {
    position: absolute;
    bottom: 0;
    width: 90px;
    right: -80px;
}

.pipe1 {
    animation: pipe1 1.5s infinite linear;
}

.pipe2 {
    animation: pipe2 1.1s infinite linear;
}

.pipe3 {
    animation: pipe3 0.6s infinite linear;
}

.mario {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 100px;
}

.pular {
    animation: pular 0.5s;
}

.nuvem1 {
    width: 55vh;
    position: absolute;
    animation: nuvem1 10s infinite linear;
}

.nuvem2 {
    width: 55vh;
    position: absolute;
    animation: nuvem2 15s infinite linear;
}

/* ------------------------------------- */

.menu-board {
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chao {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.botao {
    position: absolute;
    border: 0;
    width: 10vw;
    top: 15vh;
    outline: none;
    background-color: rgba(2, 2, 2, 0);
}

.score, .highScore{
    position: absolute;
    align-items: center;
    text-align: center;
    font-weight: 800;
    top: 1%;
    left: 1%;
    font-size: 3vw;
    background-color: rgb(67, 241, 82);
    padding: 0 20px 0 20px;
    border: 5px solid black;
}

.highScore{
    top: 9%;
    font-size: 2.5vw;
    padding: 0 10px 0 10px;
}

/* ------------------------------------- */

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes pipe1 {
    0%{
        right: -80px;
    }
    100% {
        right: 100%;
    }
}

@keyframes pipe2 {
    0%{
        right: -80px;
    }
    100% {
        right: 100%;
    }
}

@keyframes pipe3 {
    0%{
        right: -80px;
    }
    100% {
        right: 100%;
    }
}

@keyframes pular {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes nuvem1 {
    0%{
        right: -550px;
    }
    100% {
        right: 100%;
    }
}
@keyframes nuvem2 {
    0%{
        right: -550px;
    }
    100% {
        right: 100%;
    }
}

@keyframes cor {
    0%{
        transition: all 0.5s;
    }
    100%{
        background: linear-gradient(rgb(209, 86, 86), rgb(231, 161, 161));
    }
}